@font-face {
    font-family: Nunito;
    src: url(./Nunito-wghtX.woff2);
    font-weight: 400 900;
}
*{
    margin: 0;
    padding: 0;
}
html{
    overscroll-behavior: none;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    grid-template-columns: 100%;
    
    color : rgb(255,255,255);
    font-size: 1.2em;
    font-family: Nunito, sans-serif;

    background-image: url(./bg1.jpg); 
    min-height: 98vh;           
    background-attachment: fixed; 
    background-repeat: no-repeat;

    text-shadow: 2px 2px 3px black;
}
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 1rem;

    background-color: black;
    box-shadow: -2px 0 10px black;
    height: 20vh;

    img{
        border-radius: 5px;
        height: 3em;
    }
    hr{
        height: 90%;
    }
    #quick-links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a{
            
            color: white;
        }
        
    }
}
#copyright{
    text-align: center;
    backdrop-filter: blur(5px);
}
@media(max-width: 540px) {
    footer{
        flex-direction: column;
        height: auto;
        gap: 1em;

        hr{
            width: 90%;
            height: 0%;
        }
        #quick-links{
            display: flex;
            flex-direction: row;
            gap: 1em;
        }
    }
}
@media(max-width: 460px){
    footer{
        font-size: 75%;
    }
}

/* web pages animation
main{
    view-transition-name: page-content;
}
@view-transition{
    navigation: auto;
}
::view-transition-group(page-content){
    animation-duration: 1s;
    animation-timing-function: ease;
}
::view-transition-old(page-content){
    animation-name: slide-out;
}
::view-transition-new(page-content){
    animation-name: slide-in;
}

@keyframes slide-out{
    to {
        translate: -100%;
    }
}
@keyframes slide-in{
    from{
        translate: 100%;
    }
} */