@font-face {
    font-family: Nunito;
    src: url(./Nunito-wghtX.woff2);
    font-weight: 400 900;
}
*{
    margin: 0;
    padding: 0;
}
html{
    overscroll-behavior: none;
}
body{
    color : rgb(255,255,255);
    font-size: 1.2em;
    font-family: Nunito, sans-serif;

    background-image: url(./bg1.jpg); 
    min-height: 98vh;           
    background-attachment: fixed; 
    background-repeat: no-repeat;

    text-shadow: 2px 2px 3px black;
}

/* web pages animation
main{
    view-transition-name: page-content;
}
@view-transition{
    navigation: auto;
}
::view-transition-group(page-content){
    animation-duration: 1s;
    animation-timing-function: ease;
}
::view-transition-old(page-content){
    animation-name: slide-out;
}
::view-transition-new(page-content){
    animation-name: slide-in;
}

@keyframes slide-out{
    to {
        translate: -100%;
    }
}
@keyframes slide-in{
    from{
        translate: 100%;
    }
} */