@media(max-width:1080px){
    nav ul {
        gap: 1em;
    }
    nav a{
        padding: 0.5rem;
    }
}

@media(max-width: 950px){
    nav ul{
        gap: 0;
    }
    nav a{
        font-size: 0.75em;
    }
}
@media(max-width: 675px){
    /* sidebara activated */ 
    nav{
        backdrop-filter: none;
    }
    nav .sidebar{
        display: flex;

        position: fixed;
        top: 0; right: -140px;
        transition: .5s ease-out;
        min-height: 100vh; width: auto;

        z-index: 9999;
    }
    nav ul a:hover::after{
        scale: 0;
    }
    nav #angle{
        display: inline-block;
        transition: transform 0.5s ease-out;

        vertical-align: bottom;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;

        font-size: 1.5em;

        padding: 1em 0;
    }
    nav #open-btn{
        height: fit-content;
        margin-top: 1em;
        backdrop-filter: blur(10px);

        border: 2px solid rgb(52, 4, 87);
        border-right: none;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;

        z-index: 15;
    }
    nav #open-btn:hover{
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    nav ul{
        flex-direction: column;

        padding-top: 1em;
        backdrop-filter: blur(10px);
        border-left: 2px solid rgb(52, 4, 87);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        box-shadow: -4px 0 10px rgba(40, 40, 40,0.5);
        gap: 1em;

        z-index: 10;
    }  
    nav a{
        font-size: 1em;
        padding: 0.5em;
    } 

    /* sidebar functionality */
    .sidebar:has(#sidebar-active:checked){
        right: 0;
    }
    #sidebar-active:checked ~ #open-btn #angle{
        transform: rotate(180deg);
    }
    #sidebar-active:checked ~ #overlay{
        height: 100%; width: 100%;
        position: fixed;
        top: 0; left: 0;
        z-index: 5;
    }
}