@font-face {
    font-family: Nunito;
    src: url(./Nunito-wghtX.woff2);
    font-weight: 400 900;
}
*{
    margin: 0;
    padding: 0;
}
html{
    overscroll-behavior: none;
}
body{
    color : rgb(255,255,255);
    font-size: 1.2em;
    font-family: Nunito, sans-serif;

    background-image: radial-gradient(circle at top left, rgb(150,150,150) 0%, rgb(100,100,100)25%, rgb(60,60,60) 50%, rgb(10,10,10) 90%, rgb(0,0,0) 100%); 
    min-height: 98vh;           
    background-attachment: fixed; 
    background-repeat: no-repeat;

    text-shadow: 2px 2px 3px black;
}