
/* Navigation Bar */
.navbar ul{
    list-style-type: none;
    background-color: rgb(20, 20, 20);
    padding: 0px;
    margin: 5px;

    display: flex;
    justify-content: space-around;

    border: 2px solid rgb(20, 20, 20);
    border-radius: 12px;
}
.navbar li{
    flex: 1;
    text-align: center;
    border: 2px solid rgb(20, 20, 20);
}
.navbar a{
    color: whitesmoke;
    text-decoration: none;
    padding: 15px;
    display: block;

    transition: background-color 0.5s;
    transition: border-radius 20ms;
}
.navbar a:hover{
    border-radius: 9px;
    background-color: rgb(50, 50, 50);
    cursor: pointer;
}

/* Dropdown of Contact */
.contactdd{
    position: relative;
}
.contactdd p{
    cursor: default;
    padding:  15px;
    margin: 0px;

    transition: background-color 0.5s;
    transition: border-radius 20ms;
}
.contactdd p:hover{
    background-color: rgb(50, 50, 50);
    border-radius: 9px;
}
.contactdd .contacts {
    background-color: rgb(20, 20, 20);
    border: 3px solid rgb(20, 20, 20);
    border-radius: 12px;

    position: absolute;
    right: 0px;
    visibility: hidden;
    z-index: 100;

    opacity: 0;
    transition: opacity 0.5s ease;
}
.contactdd:hover .contacts{
    visibility: visible;  
    opacity: 0.9;
}
.contactdd .contacts a{
    cursor: pointer;
}

/* copy number (refer index.js)*/
.status-msg {
  margin-left: 10px;
  color: #2e7d32;
  font-weight: bold;

  opacity: 0;
  transition: opacity 0.3s ease;

  display: none;
}
.status-msg.visible {
  display: inline-block;
  opacity: 1;
}