
/* Navigation Bar */
.navbar ul{
    list-style-type: none;
    background-color: rgb(20, 20, 20);
    padding: 0px;
    margin: 2px;

    display: flex;
    justify-content: space-around;
    gap: 2px;

    border: 2px solid rgb(20, 20, 20);
    border-radius: 12px;
}
.navbar li{
    flex: 1;
    text-align: center;
    border: 2px solid rgb(20, 20, 20);
    border-radius: 12px;

    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(30, 30, 30, 0.4) 50%);
}
.navbar a{
    color: whitesmoke;
    text-decoration: none;
    padding: 15px;
    display: block;
}
.navbar li:hover{
    border-radius: 12px;
    background-color: rgb(50, 50, 50);
    cursor: pointer;
}

/* copy number (refer index.js)*/
.status-msg {
  margin-left: 10px;
  color: #2e7d32;
  font-weight: bold;

  opacity: 0;
  transition: opacity 0.3s ease;

  display: none;
}
.status-msg.visible {
  display: inline-block;
  opacity: 1;
}

/* Underlines */
.navbar ul li{
    position: relative;
    width: max-content;
}
.navbar ul li::after{
    content: '';
    position: absolute;
    background-image: linear-gradient(to right, rgb(100,100,100), rgb(160,160,160), rgb(100,100,100));

    width: 90%; height: 3px;
    left: 5%; bottom: 2px;
    border-radius: 4px;

    scale: 0;
    transition: scale 0.25s ease;
}
.navbar ul li:hover::after{
    scale:1;
}