main{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 3rem 3rem 2rem 3rem;
}
/*Main Content*/
.left{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: start;

    font-size: 2em;
}
.left p{
    font-size: 0.5em;
}
/* Social Media */
.left #Socials ul{
    display: flex;

    padding: 1em 0em 1em 0em;

    list-style: none;
    gap: 1em;
}
.left #Socials a{
    text-decoration: none;
    color: rgb(119, 4, 119);
    filter: drop-shadow(0px 0px 10px white); 
}
.left #Socials a:hover{
    filter: brightness(2%);
}

/* Image */
.right{
    position: relative;
}
.right img{
    padding: 1em;
    height: 30rem; width: auto;

    border: 2px solid rgb(145, 15, 173) ;
    border-radius: 50%;
}
/* gradient */
.right .gradient{
    padding: 0;
    height: 30rem; width: 19em;
    border-radius: 50%;

    position: absolute;
    top: 0; left: 0;

    background-color: rgb(141, 13, 173);
    filter: blur(30px);
    box-shadow: 0 0 20px rgb(135, 10, 173);
    
    z-index: -1;
}