main{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 3rem 3rem 2rem 3rem;
}
body{
    user-select: none;
    -webkit-user-select: none;
}
/*Main Content*/
.left{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: start;

    font-size: 2em;
}
.left p{
    font-size: 0.5em;
}
/* Social Media */
.left #Socials ul{
    display: flex;

    padding: 1em 0em 1em 0em;

    list-style: none;
    gap: 1em;
}
.left #Socials a{
    text-decoration: none;
    color: rgb(73, 3, 93);
    filter: drop-shadow(0px 0px 10px white); 
}
.left #Socials a:hover{
    filter: brightness(2%);
}

/* Image */
.right{
    position: relative;
}
.right img{
    padding: 1em;
    height: 30rem; width: auto;

    border: 2px solid rgb(96, 12, 115) ;
    border-radius: 50%;
}
/* gradient */
.right .gradient{
    padding: 0;
    height: 100%; width: 100%;
    border-radius: 50%;

    position: absolute;
    top: 0; left: 0;

    background-color: rgb(121, 11, 149);
    filter: blur(30px);
    box-shadow: 0 0 20px rgb(135, 10, 173);
    
    z-index: -1;
}

@media(max-width: 950px){
    main{
        align-items: center;
        font-size: 75%;
    }
    .right img{
        height: 20em; width: auto;
        padding: .75em;
    }
}
@media(max-width: 560px){
    main{
    flex-direction: column-reverse;
    }
    .left{
        text-align: center;
        align-items: center;
    }
}
@media(max-width: 460px){
    h1{
        font-size: 1em;
    }
}