#intro{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
main{
    display: grid;
    padding: 2.5rem;
}
body{
    user-select: none;
    -webkit-user-select: none;
}
/*Main Content*/
.left{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: start;

    font-size: 2em;

    #buttons{
        width: 100%;
        display: flex;
        justify-content: end;
        gap: 1em;

        button{
        
        font-size: 0.6em;
        font-style: oblique;
        font-family: "Comic Sans MS";
        color: rgb(71, 6, 90);
        padding: 0.2em 0.5em;
        background-color: rgba(129, 3, 129, 0.2);
        backdrop-filter: blur(5px) brightness(1);

        filter: drop-shadow(0px 0px 10px white);
        border: 2px solid rgb(73, 2, 73);
        border-radius: 7px;

        text-wrap: nowrap;
        }
        button:hover{
        filter: brightness(1);
        background-color: rgba(156, 79, 194, 0.381);
        cursor: pointer;

        translate: 0 -3px;

        transition: translate 0.3s ease;
        }
        button:active{
        filter: brightness(0.6);
        }
    
    }
}
.left p{
    font-size: 0.5em;
}
/* Social Media */
.left #Socials ul{
    display: flex;

    padding: 1em 0em 1em 0em;

    list-style: none;
    gap: 1em;
}
.left #Socials a{
    text-decoration: none;
    color: rgb(73, 3, 93);
    filter: drop-shadow(0px 0px 5px white); 
}
.left #Socials a:hover{
    filter: brightness(0);
}
#Socials{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

/* Image */
.right{
    position: relative;
}
.right img{
    padding: 1em;
    height: auto; width: 40vw;

    border: 2px solid rgb(96, 12, 115) ;
    border-radius: 50%;
}
/* gradient */
.right .gradient{
    padding: 0;
    height: 100%; width: 100%;
    border-radius: 50%;

    position: absolute;
    top: 0; left: 0;

    background-color: rgb(121, 11, 149);
    filter: blur(30px);
    box-shadow: 0 0 20px rgb(135, 10, 173);
    
    z-index: -1;
}
/* Latest */
#latest{ 
    margin-top: 3em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    img{
        height: auto; width: 40vw;
        border-radius: 15px;
        box-shadow: 0 0 5px black;
    }
    #latest-project{
        max-width: 50vw;
        padding: 1em;
    }
}
.carousel{
    width: 100%;
    padding: 1em 0;
    margin-top: 3em;

    .group{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }
    button{
        font-size: 2em;
        background-color: transparent;
        border: none;
        color: rgb(56, 2, 71);

        filter: drop-shadow( 0 0 5px white);
    }
}

@media(max-width: 1080px){
    #intro, #latest{
        align-items: center;
        font-size: 75%;
    }
    .right img{
        padding: .75em;
    }
}
@media(max-width: 830px){
    #intro{
    flex-direction: column-reverse;
    }
    #latest{
        flex-direction: column;
        justify-content: center;

        #latest-project{
        max-width: 90vw;
        padding: 0;
        }
        #latest-img img{
            width: 70vw; height: auto;
        }
    }
    .left{
        text-align: center;
        align-items: center;

        p{
            text-wrap: wrap;
        }
        #buttons{
            justify-content: center;
        }
    }
    .right{
        img{
            height: auto; width: 80vw;
        }
    }
}
@media(max-width: 540px) {
    footer{
        flex-direction: column;
        height: auto;
        gap: 1em;

        hr{
            width: 90%;
            height: 0;
        }
    }
}
@media(max-width: 460px){
    h1{
        font-size: 1em;
    }
    footer{
        font-size: 75%;
    }
}