.container{
    display: flex;
    gap: 0.5rem;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    min-height: 70vh;

    hr{
        width: 3px;
        background-color: white;
        border-radius: 3px;
    }
}
.container .section{ 
    text-align: center;
    backdrop-filter: blur(5px);
    width: 50%;
}