h2{
    text-align: center;
    padding: 1rem;
}
.minproj {
    display: grid;
    grid-auto-columns: 200px;
    grid-auto-rows: 200px;
    grid-auto-flow: column;
    gap: 1em;

    margin: 1rem 0;

    justify-content: center;
    align-items: center;
}
.minproj a{
    text-decoration: none;
}
.minproj a:active .content{
    border: 3px solid rgb(20,20,20);
    box-shadow: 0px 0px;
}
.minproj .content{
    background-color: rgb(20,20,20);
     
    color: whitesmoke;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: end;

    padding: 20px;
    box-sizing: border-box;
    border: 3px solid rgb(20,20,20);
    border-radius: 8px;
    box-shadow: 2px 2px 1px whitesmoke;

    background-size: cover;
    background-position: center;
}
.minproj .content:hover{
    filter: brightness(1.5);
}
#Counter{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(30, 30, 30, 0.1) 80%) ,
    url(./Images/Counter.png); 
}
#Yamuna{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(30, 30, 30, 0.1) 80%) ,
    url(./Images/Lab.jpg);
}
#Quiz{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(30, 30, 30, 0.1) 80%) ,
    url(./Images/WaterQuiz.png);
}
#TempConv{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.2) 100%) ,
    url(./Images/TempConv.png);
}