*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: HarryP;
    src: url(./HarryP-Font.ttf);
}
@font-face{
    font-family: Water;
    src: url(./SuperWater.ttf);
}
body{
    height: 100vh; width: 100vw;
    background-image: radial-gradient(circle, rgba(0, 191, 255), rgb(0, 42, 255) 75%, darkblue);
    overflow: hidden;

    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 1.6rem; 
    margin: 0.5em;
}

p {
    margin: 0.5em;
    font-size: 1.3rem; 
    line-height: 1.6; 
}

.bubble{
    position: absolute;

    border: 2px solid rgba(19, 123, 235);
    border-radius: 50%;

    background-image: radial-gradient(
    circle at 25% 25%, 
    rgba(255, 255, 255, 0.7) 0%, 
    rgba(255, 255, 255, 0.1) 40%, 
    transparent 70%
    ); 
}
#bubble1{
    height: 100px; width: 100px;
    top: 5vh; left: 10vb;
}
#bubble2{
    height: 200px; width: 200px;
    bottom: 15vh; left: 30vb;
}
#bubble3{
    height: 300px; width: 300px;
    right: -150px; top: 25vh;    
}
#bubble4{
    height: 300px; width: 300px;
    top: -5vh; right: 22vw;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    height: 90vh; width: 50vw;
    top: 5vh; left: 25vw;

    text-shadow: 2px 2px 3px white;
    color: rgb(4, 4, 170);
    
}

/* Buttons */
button{
    font-size: 1.5rem;
    
    padding: 0.5em;

    border: 3px solid rgb(4, 4, 170);
    border-radius: 10px;
    
    background-color: rgba(4, 4, 200, 0.1);
    color: rgb(4, 4, 170) ;

    scale: 1;
    filter: brightness(1);
    transition: all .3s ease;
}
button:hover{
    scale: 1.01;
}
button:active{
    scale: 1;
    filter: brightness(0.5);
    background-color: rgba(4, 4, 200, 0.3);
} 

.Screen{
    padding: 3em;
    width: 50vw;

    display: none;
    flex-direction: column;
    justify-content: flex-start;
    
    text-align: center;

    
    backdrop-filter: blur(2px) brightness(1.1);
    border: 2px solid rgb(131, 177, 246);
    border-radius: 40px;
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
}
.Screen.active{
    display: flex;
}
#quiz-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
}

h1{
    font-family: Water;
    filter: opacity(0.9);
    font-size: 3rem;
}
#start, #result{
    justify-content: center;
    align-items: center;
}
#info{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1em 3em 1em 3em;
    border-radius: 10px;
}

/* Answers */
.Answers{
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-bottom: 25px;
}
.answer-btn{
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(4, 4, 170);
    border: 2px solid rgb(4, 4, 170);
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    text-align: left;

    transition: background-color 100ms ease ;
}
.answer-btn:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
.answer-btn.correct{
    background-color: #e6fff0;
    border-color: #a3f0c4;
    color: #28a745;
}
.answer-btn.incorrect{
    background-color: #fff0f0;
    border-color: #ffbdbd;
    color: #dc3545;
}
.progress-bar{
    height: 10px;
    background-color: white;

    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;

    
    margin-bottom: 20px;
}
.Progress{
    height: 100%;
    background-color: blue;
    width: 0;

    transition: width 0.3s ease;
}